<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        span{
            color: blueviolet;
            font-weight: 700;
        }
    </style>
</head>
<body>
    <div><span><%= userInfo.text %></span>님 환영합니다</div>
    <div><span><%= userInfo.radio %></span>이군요</div>
    <div>생일은<span><%= userInfo.select %></span>이고</div>
    <div>취미는<span><%= userInfo.checkbox %></span>이다</div>
    <div>좋아하는 색상은<span><%= userInfo.color %></span></div>
    <div>좋아하는 숫자은<span><%= userInfo.number %></span></div>



    <h1><%= title %></h1>
    <!-- <div><span><%= userInfo.id %></span>님 환영합니다</div>

    
    <div>비밀번호<span><%= userInfo.pw %></span>이군요</div>
    <br><br> -->
    <a href="/">홈으로 이동</a>
</body>
</html>